# Joining Latitude and Longitude

Let's import the libraries first.

In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

Now let's import data from previous exercise.

In [2]:
url = r'https://en.wikipedia.org/w/index.php?title=List_of_postal_codes_of_Canada:_M&oldid=945633050.'
request = requests.get(url)
content = BeautifulSoup(request.content,'lxml')
table = content.find('table')
df = pd.read_html(str(table),header=0)[0]
df = df[df.Borough != 'Not assigned']
df = pd.DataFrame(df.groupby(['Postcode','Borough'])['Neighbourhood'].apply(', '.join) )
df = df.reset_index()
df.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

We'll join the latitude and longitude using the Geospatial_Coordinates.csv file. Let's look at the file first.

In [3]:
geo=pd.read_csv('https://cocl.us/Geospatial_data')
geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

now we'll merge the file with previous dataframe.

In [4]:
new=pd.merge(df, geo, how='left', left_on='Postcode', right_on='Postal Code')
new.drop(['Postal Code'], axis=1, inplace=True)
new.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [5]:
print('Shape of the dataframe is:', new.shape)

Shape of the dataframe is: (103, 5)